{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <table>
        <thead>
        <th>Categorie : {{ categoryOne }}</th>
        </thead>
        <tbody>
        {% for categoryWithProgram in categoryWithPrograms %}
            <tr>
                <td>{{ categoryWithProgram.id }}</td>
                <td>{{ categoryWithProgram.title }}</td>
                <td>{{ categoryWithProgram.synopsis }}</td>
                <td>{{  categoryWithProgram.country }}</td>
                <td>{{  categoryWithProgram.year }}</td>
                <td><a href="{{ path('program_program_show', { id: categoryWithProgram.id }) }}">Voir</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}
