{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
        <th>Serie</th>
        </thead>
        <tbody>
            <tr>
                <td>{{  programById.id }}</td>
                {#<td><img src="{{  programById.poster }}" alt="Image"></td>#}
                {#<td>{{  programById.title }}</td>#}
                <td>{{  programById.synopsis }}</td>

                <td>{{  programById.country }}</td>
                <td>{{  programById.year }}</td>


                <strong>Acteurs :</strong>
                <ul>
                    {% for actor in programById.actors %}
                    <a href="{{ path('app_actor_show', { id:actor.id}) }}"> {{ actor.name }} </a>
                        <br>


                    {% else %}
                        <li>Aucun acteur pour cette série</li>
                    {% endfor %}
                </ul>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <th>Season</th>
        </thead>
        <tbody>
            <tr>
                {% for season in seasons %}
                    <td>{{  season.id }}</td>
                    <td>{{  season.number }}</td>
                    <td>{{  season.year }}</td>
                    <td>{{  season.description }}</td>
                    <td>><a href="{{ path('program_program_season_show', { program_id:programById.id, season_id: season.id }) }}">Voir</a></td>
            </tr>
        </tbody>
    {% endfor %}
{% endblock %}